.DS_Store
# misc files next to jupyter notebooks
jupyter_notebooks/.ipynb_checkpoints/
jupyter_notebooks/*.png
jupyter_notebooks/_*_.ipynb
# Folder with Dataset
data/
# files in the src/ folder
src/.ipynb_checkpoints/
src/__pycache__/